body{
   font-family: "Century Gothic";
    background-image: url("../images/wateer");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170vh;

}
#form-container{
    background-color: darkred;
    padding: 20px;
    border-radius: 8px;
    box-shadow:0 0 10px rgba( 0,0,0,0.1);
    width:400px ;

}
.form-group{
    margin-bottom: 16px;
}
label{
    display: block;
    margin: 8px;
    font-weight: bold;
}

input[ type="name"],
input[type="email"],
input[ type="password"],
input[ type="text"],
textarea,
select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}
textarea{
    height: 10px;
}
input[type="radio"],input[type="checkbox"] {
margin: 5px;
}
button{
    padding: 5px;
    color: crimson;
    text-decoration-color: black;
}